<mat-toolbar class="p-0 mat-elevation-z1">

    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

   

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-button [matMenuTriggerFor]="userMenu"
                    class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="avatar mr-0 mr-sm-16" src="https://www.zooniverse.org/assets/simple-avatar.png">
                    <span class="username mr-12" fxHide fxShow.gt-sm>Miguel Báez</span>
                 
                </div>
            </button>

        
       

        </div>

    </div>

</mat-toolbar>
